.view_game_page {
  position: relative;
}

.main {
  overflow: hidden !important;
}

.inner_column {
  overflow: visible !important;
}

.view_game_page::before {
  content: "";
  position: absolute;
  transform: scaleX(-1);
  z-index: 0;
  top: -10%;
  left: -60%;
  width: 58%;
  height: 214%;
  background: url("https://github.com/aznoqmous/ggj-2026/blob/master/itch/side-folliage.png?raw=true") repeat-y;
  background-size: contain;
  pointer-events: none;
  animation: leftFolliageFlow 3s ease-in-out infinite;
}

.view_game_page::after {
  content: "";
  position: absolute;
  transform: scaleX(1);
  z-index: 0;
  top: -10%;
  right: -60%;
  width: 58%;
  height: 214%;
  background: url("https://github.com/aznoqmous/ggj-2026/blob/master/itch/side-folliage.png?raw=true") repeat-y;
  background-size: contain;
  pointer-events: none;
  animation: rightFolliageFlow 3s ease-in-out infinite;
}

@keyframes leftFolliageFlow {
  0% {
    background-position-y: 0%;
  }
  25% {
    background-position-y: 6%;
  }
  50% {
    background-position-y: 10%;
  }
  75% {
    background-position-y: 8%;
  }
  100% {
    background-position-y: 0%;
  }
}


@keyframes rightFolliageFlow {
  0% {
    background-position-y: -6%;
  }
  25% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: -4%;
  }
  75% {
    background-position-y: -10%;
  }
  100% {
    background-position-y: -6%;
  }
}